
language: cpp
compiler: gcc
dist: trusty

before_install:
  # C++11
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install: 
  # C++11
  - sudo apt-get install -qq g++-5
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-5 90

script: 
  - g++ -std=c++11 -g -I tests/third_party -I src tests/tests_main.cpp tests/linkedListTest.cpp -o runTests -Wall
  - ./runTests